/*
File: css/HW3Style.css
GUI Assignment: Creating an Interactive Dynamic Table 
This webpage creates a dynamic multiplication table based on user input using HTML, CSS, and JavaScript.
Peyton Somerville
10/16/2021
*/

body {
    background-color: #81b5df;
}
h1, h3{
    text-align: center;
}

/* form format */
#userInput {
    margin: auto;
    width: 400px;
}
.wrapper {
    background-color: whitesmoke;
    border: 1px solid black;
    list-style-type: none;
    padding: 5px;
    font-size: 90%;
}
.form-row {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}
.form-row label {
    padding: 5px 10px 5px 0px;
    flex: 1;
}
.form-row button {
    margin: auto;
}

/* error messages */
p { 
    color: #ff0505;
    text-align: center;
}

#multTable {
    overflow: auto;   /* makes table scrollable when too big for screen */
    max-height: 600px;
}

table {
    margin: auto;
    background-color: white;
    border-spacing: 0;
}

table, td, th {
    border: 1px solid black;
}

td, th {
    min-width: 40px;
    height: 25px;
    text-align: center;
}

/* alternating rows */
tr:nth-child(2n + 1) {
    background-color: LightGray;
}

/* left column */
tr td:first-child {
    background-color: #36454e;
    color: white;
    position: sticky;
    left: 0;
    z-index: 1;
}

/* top row */
th {
    background-color: #36454e;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}
 